<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qinniu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qinniu.MainActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qinniu.MainActivity" />
        </activity>
        <activity
            android:name=".RegisterTurnActivity"
            android:label="@string/title_activity_register_turn"
            android:parentActivityName=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qinniu.RegisterActivity" />
        </activity>
        <activity
            android:name=".ExchangeActivity"
            android:label="@string/title_activity_exchange"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qinniu.MainActivity" />
        </activity>
        <activity
            android:name=".SimulationActivity"
            android:label="@string/title_activity_simulation"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qinniu.MainActivity" />
        </activity>
        <activity
            android:name=".PriceActivity"
            android:label="@string/title_activity_price"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".PricePriceActivity"
            android:label="@string/title_activity_price_price"
            android:parentActivityName=".PriceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qinniu.PriceActivity" />
        </activity>
        <activity
            android:name=".PriceOptionalActivity"
            android:label="@string/title_activity_price_optional"></activity>
        <activity
            android:name=".PriceTabIndexActivity"
            android:label="@string/title_activity_price_tab_index"
            android:parentActivityName=".PriceTabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qinniu.PriceTabActivity" />
        </activity>
        <activity
            android:name=".PriceTabSHSZActivity"
            android:label="@string/title_activity_price_tab_shsz"
            android:parentActivityName=".PriceTabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qinniu.PriceTabActivity" />
        </activity>
        <activity
            android:name=".PriceTabSelectorActivity"
            android:label="@string/title_activity_price_tab_selector"
            android:parentActivityName=".PriceTabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qinniu.PriceTabActivity" />
        </activity>
        <activity
            android:name=".PriceTabHKUSActivity"
            android:label="@string/title_activity_price_tab_hkus"
            android:parentActivityName=".PriceTabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qinniu.PriceTabActivity" />
        </activity>
        <activity
            android:name=".PriceTabOtherActivity"
            android:label="@string/title_activity_price_tab_other"
            android:parentActivityName=".PriceTabActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.qinniu.PriceTabActivity" />
        </activity>
    </application>
</manifest>
